:root {
  --background: #f0f0f5;
  --foreground: #41414d;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f0f0f5;
    --foreground: #41414d;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .headerSpacing {
    margin-top: 5.625rem;
    width: 100%;
    max-width: 1120px;

    @media (max-width: 1200px) {
      margin-left: 2rem;
      margin-right: 2rem;
    }

    @media (max-width: 768px) {
      margin-top: 8.1875rem;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 768px) {
  .onlyMobile {
    display: block;
  }
  .onlyDesktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .onlyMobile {
    display: contents;
  }
  .onlyDesktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .onlyMobile {
    display: none;
  }
  .onlyDesktop {
    display: contents;
  }
}
